In [ ]:
Domain –Banking Marketing 

focus –Optimization 

Business challenge/requirement--

Bank of Portugal runs marketing campaign to offer loans to clients. 

Loan is offered to only clients with particular professions. 

List of successful campaigns(withclientdata) is given in attached dataset. 

You have to come up with program which reads the file and builds a set of unique profession list

and given input profession of client –system tells whether client is eligible to be approached for marketing campaign.

Key issues: Tele Caller can only make x number of cold calls in a day.

Hence to increase her effectiveness only eligible customers should be called

Considerations

Current system does not differentiate clients based on age and profession

Data volume

447 records in bank-data.csv

Additional information-NA
Business benefits

Company can achieve between 15% to 20% higher conversion by targeting right clients

Approach to Solve

You have to use fundamentals of Python taught in module3

1.Read file bank-data.csv

2.Build a set of unique jobs

3.Read the input from command line –profession

4.Check if professionis in list

5.Print whether client is eligible

Enhancements for code

You can try these enhancements in code

1.Compute max and min age for loan eligibility based on data in csv file

2.Store max and min age in dictionary

3.Make the profession check case insensitive 

4.Currently program ends after the check. 

Take the input in whileloop and end only if user types "END" for profession

In [6]:
import pandas as pd
data=pd.read_csv('bank-data.csv')
data

     age            job   marital    y
0     20        student    single  yes
1     32     management    single  yes
2     49     technician   married  yes
3     32    blue-collar   married  yes
4     33     management   married  yes
5     61         admin.   married  yes
6     45    blue-collar  divorced  yes
7     34     technician   married  yes
8     37     management   married  yes
9     27         admin.  divorced  yes
10    52       services   married  yes
11    37     management   married  yes
12    27       services    single  yes
13    21        student    single  yes
14    25        student    single  yes
15    25     technician    single  yes
16    34  self-employed    single  yes
17    52     management   married  yes
18    55         admin.   married  yes
19    28     management    single  yes
20    35     technician    single  yes
21    29    blue-collar    single  yes
22    42     management   married  yes
23    29    blue-collar    single  yes
24    24    blue-collar    single  yes
25    34         admin.   married  yes
26    50    blue-collar   married  yes
27    49   entrepreneur  divorced  yes
28    45    blue-collar  divorced  yes
29    38   entrepreneur   married  yes
..   ...            ...       ...  ...
417   62  self-employed  divorced  yes
418   39       services  divorced  yes
419   38     technician    single  yes
420   31    blue-collar   married  yes
421   33     technician    single  yes
422   36     technician    single  yes
423   32     management    single  yes
424   34      housemaid   married  yes
425   59     technician   married  yes
426   25        student   married  yes
427   53     management   married  yes
428   52     management   married  yes
429   34         admin.  divorced  yes
430   49         admin.   married  yes
431   50    blue-collar   married  yes
432   29    blue-collar    single  yes
433   41   entrepreneur   married  yes
434   45         admin.  divorced  yes
435   32    blue-collar    single  yes
436   45     management    single  yes
437   40     management   married  yes
438   49    blue-collar    single  yes
439   29     management    single  yes
440   38     management    single  yes
441   38     management   married  yes
442   26     technician    single  yes
443   60  self-employed   married  yes
444   42    blue-collar    single  yes
445   32         admin.    single  yes
446   46    blue-collar   married  yes

[447 rows x 4 columns]

In [10]:
set(data['job'])

{'admin.',
 'blue-collar',
 'entrepreneur',
 'housemaid',
 'management',
 'self-employed',
 'services',
 'student',
 'technician'}

In [ ]:
MinAge = min(data['age'])
MaxAge= max(data['age'])
print(MinAge,MaxAge)
''''Profession=input(Enter one of the below Profession
                        1.admin
                        2.blue-collar
                        3 entrepreneur
                        4 housemaid
                        5 management
                        6 self-employed
                        7 services
                        8 student
                        9 technician)

def LoanEligibility(Profession):
    if data['age'] >21 and data['age'] <55:
        print("For Loan Eligibilty Age must be Greater than 21 and Less than 55.Hence loan will be not be approved")
    if data['job'] not in ("admin","entrepreneur","management","self-employed","technician"):'''

In [9]:
import csv

# Read the CSV file and build a set of unique professions
with open('bank-data.csv', 'r') as csvfile:
    reader = csv.reader(csvfile)
    next(reader)  # Skip header
    professions = set()
    ages = []
    for row in reader:
        profession = row[1]
        age = int(row[0])
        professions.add(profession.lower())  # Make profession check case insensitive
        ages.append(age)

# Compute max and min age for loan eligibility
max_age = max(ages)
min_age = min(ages)

# Store max and min age in a dictionary
age_range = {'max_age': max_age, 'min_age': min_age}

# Take input in a while loop until user types "END" for profession
while True:
    print("Max Age for Loan Eligibility: ", age_range['max_age'])
    print("Min Age for Loan Eligibility: ", age_range['min_age'])
    try:
        age=int(input("Enter age: "))
    except:
        print("Invalid input")
    else:
        profession = input("Enter a profession (or 'END' to exit): ").lower()
        if profession == 'end':
            break
        elif profession in professions and age >=min_age and age <=max_age:
            print("Client is eligible for marketing campaign.")

        else:
            print("Client is not eligible for marketing campaign.")

Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: end
Invalid input
Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: 25
Enter a profession (or 'END' to exit): student
Client is eligible for marketing campaign.
Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: 10
Enter a profession (or 'END' to exit): 10
Client is not eligible for marketing campaign.
Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: admin.
Invalid input
Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: 22
Enter a profession (or 'END' to exit): student
Client is eligible for marketing campaign.
Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: 77
Enter a profession (or 'END' to exit): entrepreneur
Client is eligible for marketing campaign.
Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: management
Invalid input
Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: 18
Enter a profession (or 'END' to exit): management
Client is not eligible for marketing campaign.
Max Age for Loan Eligibility:  80
Min Age for Loan Eligibility:  19
Enter age: 10
Enter a profession (or 'END' to exit): end